@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Poppins&family=Rubik:ital,wght@0,500;1,500&family=Space+Mono:wght@700&display=swap');

*{
    margin:0;
    padding:0;

    font-family: 'Rubik', sans-serif;
}

body{
    margin:0;
    padding:0;
}

.template{
    background-color:hsl(226, 43%, 10%) ;
    width:100%;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

.whole-content{
    width:70%;
    height:70%;
    background-color: transparent;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
}

.whole-content-left{
    width: 26%;
    height: 95%;
    background-color:  hsl(235, 46%, 20%);
    position:relative;
    border-radius: 25px;
}

.picture-name-area{
    width: 100%;
    height: 70%;
    background-color: hsl(246, 80%, 60%);
    border-radius:25px;
    display:flex;
    align-items: flex-start;
    justify-content: center;
    position:relative;
    flex-direction: column;
}

.photo-placeholder{
    width: 30%;
    height: 25%;
    background-color: green;
    border-radius: 50%;
    position:absolute;
    left:10%;
    top:10%;
    background-image: url(images/image-jeremy.png);
    background-position: center;
    background-size: cover;
    border:5px solid white;
}

#small-text{
    font-size:15px;
    color:hsl(235, 45%, 61%);
}

#big-white-text{
    font-size:45px;
    color:white;
    white-space: nowrap;
}

.text-placeholder{
    position:absolute;
    left:10%;
    top:50%;
    
}

.nav-area{
    width: 100%;
    height:30%;
    background-color: hsl(235, 46%, 20%);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display:flex;
    align-items: center;
    justify-content: flex-start;
}

.nav-area ul{
    list-style: none;
    display:flex;
    flex-direction: column;
    gap: 0.2rem;
    position: absolute;
    left:5%;
}

.nav-area a{
    text-decoration: none;
    color:hsl(235, 45%, 61%);
    padding:7px 40px;
    transition:300ms;
}

.nav-area a:hover{
    text-decoration: none;
    color:white;
    transform: translateY(-5px);

}

.whole-content-right{
    width:70%;
    height:95%;
    background-color: transparent;
    position:relative;
    display:flex;
    align-items: center;
    justify-content: center;

    gap:1rem;
    flex-wrap: wrap;
}

.right-cointainers{
    width:31%;
    height:40%;
    background-color:green;
    overflow: none;
    border-radius: 5%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    position:relative;
}

.container-top-right-pic{
    position:absolute;
    right:0%;
    top:0%;
    width: 40%;
    height: 35%;
    background-color: transparent;
    
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
}

.dark-container-box{
    width: 100%;
    height: 80%;
    background-color: green;
    border-radius:5%;
    background-color: hsl(235, 46%, 20%);
    z-index: 1;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:center;
    gap:0.5rem;
}

.dots3{
    width: 15%;
    height: 15%;
    background-color: transparent;
    position:absolute;
    top:25%;
    right:5%;
    transition:300ms;
    opacity: 0.2;
}


a:hover .dots3{
    transform: translateY(-5px);
    opacity: 1;
}

.container-main-title{
    color:white;
    position:relative;
    left:10%;
}

.big-content-text{
    color:white;
    font-size: 200%;
    position:relative;
    left:10%;
}

.bottom-content-text{
    font-size: 70%;
    color:white;
    position:relative;
    left:10%;
}

#pic1{
    background-image: url(images/icon-work.svg);
}

#pic2{
    background-image: url(images/icon-play.svg);
}

#pic3{
    background-image: url(images/icon-study.svg);
}

#pic4{
    background-image: url(images/icon-exercise.svg);
}

#pic5{
    background-image: url(images/icon-social.svg);
}

#pic6{
    background-image: url(images/icon-self-care.svg);
}



#con1{
    background-color: hsl(15, 100%, 70%);
}

#con2{
    background-color: hsl(195, 74%, 62%);
}

#con3{
    background-color:hsl(348, 100%, 68%) ;
}

#con4{
    background-color: hsl(145, 58%, 55%);
}

#con5{
    background-color:hsl(264, 64%, 52%) ;
}

#con6{
    background-color: hsl(43, 84%, 65%);
}

.black-part{
    cursor:pointer;
}

@media (max-width: 375px) {

    .template{
        background-color:hsl(226, 43%, 10%) ;
        width:100%;
        height:150vh;
        display:flex;
        align-items: center;
        justify-content: center;
    }

    .whole-content{
        width: 90%;
        height:90%;
        background-color:hsl(226, 43%, 10%);
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap:2.5rem;
    }

    .whole-content-left{
        width: 80%;
        height: 10%;
        background-color: hsl(235, 46%, 20%);
        position:relative;
    }

    .picture-name-area{
        position:relative;
        display:flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
    }

    .photo-placeholder{
        width:20%;
        height: 50%;
        position: absolute;
        top:25%;
        left:10%;
        border:2px solid white;
    }

    .text-placeholder{
        position: absolute;
        top:25%;
        left:35%;
    }

    #small-text{
        
        font-size: 10px;
    }

    #big-white-text{
        font-size:20px;
    }

    #big-white-text br{
        display:none;
    }

    .nav-area{
        width: 100%;
        height:30%;
        display:flex;
        align-items: center;
        justify-content: center;
        
    }

    .nav-area ul {
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap:0.5rem;
    }

    .nav-area a{
        color:hsl(235, 45%, 61%);
        padding:5px 14px;
    }

    .nav-area a:hover{
        
        color:white;
    }



    .whole-content-right{
        width: 100%;
        height:80%;
        background-color: transparent;
        position: relative;

        display:flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        gap:1rem;
        position:relative;
    }

    .right-cointainers{
        width:80%;
        height:15%;
        background-color:green;
        border-radius: 10%;
        
    }

    .container-top-right-pic{
        position:absolute;
        right:0%;
        top:0%;
        width: 40%;
        height: 50%;
        background-color: transparent;
        
        background-position: center;
        background-size:contain;
        background-repeat: no-repeat;
    }

    .dark-container-box{
        width: 100%;
        height: 70%;
        background-color: green;
        border-radius:10%;
        background-color: hsl(235, 46%, 20%);
        z-index: 1;
    }

    .container-main-title{
        color:white;
        position:relative;
        left:10%;
        font-size: 100%;
    }
    
    .big-content-text{
        color:white;
        font-size: 150%;
        position:relative;
        left:10%;
    }
    
    .bottom-content-text{
        font-size: 70%;
        color:white;
        position:absolute;
        bottom:20%;
        left:60%;
    }

    .dots3{
        width: 10%;
        height: 10%;
        background-color: transparent;
        position:absolute;
        top:40%;
        right:5%;
        opacity: 1;
    }
    
}